#countLabel{
    display: block;
    text-align: center;
    font-size: 100px;
    font-family: Times New Roman;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(251, 109, 206);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(247, 65, 189);
}